
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #C880B7;
  overflow-x: hidden; 
}

a {
  color: #fff;
  font-size: 20px;
  margin: .5rem;
}

h1{
  font-size: 40px;
  color: #fff;
}

h2{
  font-size: 30px;
  color: #fff;
}

/*Layout styles*/
header{
  background-color: #9F6BA0;
  width: 100%;
  padding: 30px;
      height:1rem;
      position:absolute;
      top:0;
      left:0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
      flex-wrap: nowrap;
}

.header-site-title{
  font-size: 35px;
  text-decoration: none;
}

.header-nav{
  margin: 2rem;
}

/*Home styles*/
.message{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 5rem;
}

.message-container{
  border-radius: 1rem;
  margin: 1rem;
  background-color: #F5CCE8;
  padding: .3rem;
  width: 800px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.msgTopic{
  color: #606060;
  font-size: 22px;
}

.msgText,.msgUser{
  font-size: 20px;
}

.details-container{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  flex-wrap: wrap;
}

.details-container > p{
  margin: 2px;
}

.userWelcomeMsg{
  text-align: center;
  color: #fff;
  font-size: 1.5rem;
  margin-top: 5rem;
  margin-bottom: -3rem;
}

/*Login & Message styles*/

.msgNotUser{
font-size: 1.5rem;
text-align: center;
color: black;
}

.loginContainer,.msgContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #fff;
  border-radius: 20px;
  padding: 10px;
  max-width: 400px;
  height: 400px;
  margin: 0 auto;
  margin-top: 5.5rem;
}

.msgContainer{
  margin-top: 2.5rem;
  max-width: 400px;
  height: 550px;
}

.signUpContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  border-radius: 20px;
  padding: 10px;
  max-width: 400px;
  height: 400px;
  margin: 0 auto;
  margin-top: 2.5rem;
  max-width: 600px;
  height: auto;
}


.loginForm,.msgForm,.signUpForm{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.loginTitle,.msgPageTitle,.signUpTitle{
  color: #9F6BA0;
}

.signUpTitle{
  text-align: center;
}

.loginForm > input,.msgForm > input,.msgForm > textarea,.signUpForm > input {
  width: 300px;
  margin: 1rem 0 2rem 0;
  padding: 10px;
  font-size: 20px;
}

.msgForm > textarea{
  height:200px;
}

.loginForm > button, .msgForm > button{
  border-radius: 20px;
  border: none;
  background-color: #9F6BA0;
  color: #fff;
  font-size: 1.5rem;
  padding: .6rem;
  margin: 0 auto;
}

.errorsContainer,.signUpErrors > p{
font-size: 1rem;
color: red;
}

.signUpErrorsContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/*Upgrade Status styles*/

.unavailableUpgrade{
  font-size: 30px;
  text-align: center;
  line-height: 5rem;
}

.statusPageTitle{
  text-align: center;
}

.centerWrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

.statusWrapper{
  background-color: #fff;
  border-radius: 20px;
  padding: 10px;
  max-width: 400px;
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.statusPageTitle{
color: #9F6BA0;
}

.adminForm > input,.memberForm > input{
font-size: 20px;
}

.statusContainer{
display: flex;
justify-content: center;
align-items: flex-start;
flex-direction: column;
flex-wrap: wrap;
}

.add-admin-button,.add-member-button,.remove-admin-button,.remove-member-button,.new-user-button{
background-color: #9F6BA0;
color: #fff;
border: none;
border-radius: 15px;
padding: 5px;
margin-top: 10px;
font-size: 1rem;
}

.add-admin-button,.add-member-button,.new-user-button{
  background-color: #9F6BA0;
}

.new-user-button{
  font-size: 20px;
  padding: 10px;
}

.remove-admin-button,.remove-member-button{
  background-color: red;
}

.hamburger-menu,.drop-down,.links-container,.exit.container{
  display: none;
}


.error-title,.error-message,.error-instructions{
  font-size: 150px;
  text-align: center;
}

.error-message{
  font-size: 50px;
  text-align: center;
  color: #fff;
  margin-top: -4rem;
}

.error-instructions{
  font-size: 30px;
  text-align: center;
  color: #fff;
}

.magnify-glass{
  font-size: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}


@media screen and (max-width: 815px) {
  .hamburger-menu{
    display: block;
    font-size: 35px;
    color: #FFFAFA;
    margin-top: 5px;
    margin-right: 1rem;
  }

  .drop-down{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    background-color: #9F6BA0;
    border: 1px solid  #F5CCE8;
    margin-top: 5rem;
    display: none;
  }

  .links-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  .links-container > a{
margin: .7rem;
  }

  .exit{
    display: none;
    text-align: end;
    font-size: 35px;
    color: #FFFAFA;
    margin-top: 4rem;
    margin-right: 1rem;
  }
  
  .nav{
    display: none;
  }
}  


